@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.cdnfonts.com/css/tasa-orbiter-display');
@import url('https://fonts.cdnfonts.com/css/tasa-explorer');


body {
  display: flex;
  margin: 0;
  font-family: 'tasa-explorer';
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 100vw;
  min-height: 100vh;
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);

}
#root {
  min-width: 100vw;
  min-height: 100vh;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#__next {
  width: 100%;
  box-sizing: border-box;
}